// Specific CSS for your home-page
body {
    background-color: #fff5e4;
}

.navbar {
    background-color: #fff5e4;
}

h1 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 500;
    font-style: normal;
    color: #322110;
    font-size: 65px;
}

h2 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 400;
    font-style: normal;
    color: #322110;
}

h3 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 200;
    font-style: normal;
    color: #322110;
}

p {
    font-family: "inter";
}

.p-name {
    font-size: 25px;
}

.card-btn {
    width: 7rem;
    background-color: #BC70FF;
}

.btn-link:hover {
    color: #BC70FF;
}

.principal-btn {
    background-color: #BC70FF;
    border: none;
    border-radius: 3px;
    width: 20rem;
    margin-top: 8.7rem;
}

.btn-primary:hover {
    background-color: #444444;
    color: white;
}

.btn-link {
    text-decoration: none;
    color: black;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 500;
}