// Specific CSS for your home-page
body {
    background-color: #fff5e4;
}

.navbar {
    background-color: #fff5e4;
}

h1 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 500;
    font-style: normal;
    color: #322110;
    font-size: 65px;
}

h2 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 400;
    font-style: normal;
    color: #322110;
}

h3 {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 200;
    font-style: normal;
    color: #322110;
}

p {
    font-family: "inter";
}

.p-name {
    font-size: 25px;
}

.input-group {
    background-color: #BC70FF;
    border-radius: 8px;
    height: 55px;
}

.input-group .form-control {
    background-color: #f2e6d5;
    border: 1px solid #ccc;
    height: 55px;
}

.btn-brown {
    height: 55px;
}

.btn-primary {
    background-color: #BC70FF;
    border: none;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: #a13afb;
    color: white;
}

.card {
    background: transparent;
}

.card-btn {
    margin-top: 0px;
}

.available-sign {
    font-size: 15px;
}

.lo-btn {
    border: 2px solid #a13afb;
    color: #322110;
}

.lo-btn:hover {
    background-color: #a13afb;
    color: white;
    border: none;
}