<% if book.available %>
  <div class="d-flex align-items-center" style="gap: 5px;">
    <span style="color: green;">●</span>
    <span style="color: green; font-size: 15px;">Available Now</span>
  </div>
<% else %>
  <div class="d-flex align-items-center" style="gap: 5px;">
    <span style="color: red;">●</span>
    <span style="color: red; font-size: 15px;">Not Available</span>
  </div>
<% end %>
