<section class="hero">
  <div class="container hero-content">
    <!-- Centered intro & search section -->
    <div class="d-flex justify-content-center">
      <div class="w-100" style="max-width: 800px;">
        <h1 class="text-center">OnLibrary expands books for schools</h1>
        <p class="text-center mb-4">OnLibrary allows students at the same school to share their books with little charges. <br> It's where you can rent and read your favorite books.</p>
              <%= link_to "Start exploring", books_path,
                class: "btn btn-primary hero-btn",
                style: "border-radius: 0.375rem;" %>
            </div>
      </div>
    </div>
  </div>
</section>