<% if book.available %>
  <span style="color: green;">●</span>
  <span style="color: green; font-size: 15px">Available</span>
<% else %>
  <span style="color: red;">●</span>
  <span style="color: red; font-size: 15px">Not Available</span>
<% end %>
